pip install torch==2.6.0 torchvision==0.21.0 torchaudio==2.6.0 --index-url https://download.pytorch.org/whl/cu124
pip install wheel
pip install flash-attn --no-build-isolation
cd /home/ubuntu/github/Wan2.1 && pip cache remove flash-attn && pip uninstall -y flash-attn
source /home/ubuntu/.pyenv/versions/3.12.11/envs/wan-2-1/bin/activate && cd /home/ubuntu/github/Wan2.1 && MAX_JOBS=4 pip install git+https://github.com/Dao-AILab/flash-attention.git@v2.8.3 --no-build-isolation

pip install -r requirements.txt
pip install "huggingface_hub[cli]"

cd /home/ubuntu/github/UniAnimate-DiT && ln -s /home/ubuntu/karthik-ragunath-ananda-kumar-utah/unianimate-dit/checkpoints checkpoints
cd /home/ubuntu/github/UniAnimate-DiT && ln -s /home/ubuntu/karthik-ragunath-ananda-kumar-utah/unianimate-dit/Wan2.1-I2V-14B-720P Wan2.1-I2V-14B-720P
chmod +x /home/ubuntu/github/UniAnimate-DiT/run_all_pose_alignments.sh
./run_all_pose_alignments.sh

python generate.py --task i2v-14B --size 1280*720 --ckpt_dir ./Wan2.1-I2V-14B-720P --image examples/i2v_input.JPG --prompt "Summer beach vacation style, a white cat wearing sunglasses sits on a surfboard. The fluffy-furred feline gazes directly at the camera with a relaxed expression. Blurred beach scenery forms the background featuring crystal-clear waters, distant green hills, and a blue sky dotted with white clouds. The cat assumes a naturally relaxed posture, as if savoring the sea breeze and warm sunlight. A close-up shot highlights the feline's intricate details and the refreshing atmosphere of the seaside."
